<div class="container">
   <footer class="footer">
     <small>
      Copyright &copy; <a href="">Protocode</a> by <a href="">Rafael Lessa Hashimoto</a>
     </small>
     <nav>
       <ul>
         <li><%= link_to "About", about_path %></li>
       </ul>
     </nav>
  </footer>
</div>